@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  margin: 0 auto;
}

a {
  text-decoration: none !important;
}