.results-wrapper {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 2% 0;
}

.empty {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}